.copyright.container
    - var currentDate = new Date();
    - var year = currentDate.getFullYear();
    - var start = config.startYear;
    - year = year == start ? year : (start ? start + ' - ' + year : year);
    p © Copyright #{year} by #[a(href=config.url)!= config.author].
