doctype
html(lang=config.language prefix='og: http://ogp.me/ns#')
    head
        include head
    body.pupa
        .loading-bar
        block header
        main
            block container
            block pagination
        footer
            include copyright
        include scripts
