doctype
html(lang=config.language prefix='og: http://ogp.me/ns#')
    head
        include head
    body.pupa
        include header
        main
            block container
            block pagination
        footer
            block copyright
        include scripts
