header {
    position: relative;
    border-bottom: 1px solid #ddd;

    a {
        color: #aaa;
    }

    .container {
        height: 4.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo {
        display: block;

        img {
            width: 24px;
            height: 24px;
            display: block;
        }
    }

    .span-holder {
        flex: 1;
    }

    nav {

        a {
            margin-left: 2rem;
        }
    }

}
