.archive {
    // background-color: #fff;

    .container {
        max-width: 762px;
        margin-top: 5rem;
        border: $border;
        border-radius: 3px;
        padding-left: 0;
        padding-right: 0;
    }

    .entry-header,
    article {
        padding: 0 2rem;
    }

    .entry-header {
        border-top: $border;
        border-bottom: $border;

        &:first-of-type {
            border-top: none;
        }

    }

    article {
        > a {
            display: block;
        }
    }
}
